body {
  background: #eee;
  font-family: Helvetica;
}

.inputs {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  /* max-width: 800px; */
  /* margin: 20px; */
  transition: all 0.2s;
  /*text-align: center;*/
}

.App {
  padding: 20px;
}